:root {
    --azul-dnc: #0C70F2;
    --preto-dnc: #303030;
    --cinza-hover: #c9c9c9;

    --fonte-padrao: 'Inter';
}
body {
    margin: 0px; /* Margem Externa */
    padding: 0px; /* Margem Interna */
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
    background-repeat: no-repeat;
}
#principal {
    width: 100%;
    height: 100px;
    background-color: #303030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BABABA;

}
#menu {
    display: flex;
    width: 45%;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
}
#principal div a {
    font-family: 'Inter';
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: white;

}
#principal div a:hover {
    color: #CCCCCC;
}

#principal button {
    font-family: 'Inter';
    margin-right: 5%;
    background: #0C70F2;
    color: #FFFFFF;
    font-size: 20px;
    border: 0px;
    height: 39px;
    width: 80px;
    font-weight: 600;
    box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
    cursor: pointer;
}

/* Seção principal do site */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    color: white;
    font-family: 'Inter';
}
header h1 {
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
}
header h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;

    margin-bottom: 100px;

}
header .invert {
    background-color: black;
    font-weight: bold;
    padding: 5px;
}
form  {
    color: white;
    font-family: 'Inter';
    font-size: 30px;
    font-weight: 600;
    width: 600px;
}
.formGroup {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}
form input {
    border-radius: 10px;
    height: 30px;
    border: 0px;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255, 0.9);
}
form label {
    margin: 10px 0px 10px 0px;
}
form input::placeholder {
    color: rgba(57, 57, 57, 0.5);
}
.checkboxItens label {
    font-size: 25px;
}
.checkboxItens {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
input[type="checkbox"]{
    transform: scale(1.7);

}
input[type="submit"] {
    background-color: rgba(12, 112, 242, 0.9);
    width: 100%;
    height: 56px;
    font-size: 32px;
    color: white;
    box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
    border-radius: 10px;
    margin-top: 100px;
    cursor: pointer;

}

  /* Footer */


footer {

    position: absolute;
    width: 1440px;
    height: 390px;
    left: 0px;
    top: 1589px;

    width: 100%;
    background-color: #0C70F2;
}
footer .linha1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 330px;
}
footer h5 {
    text-align: center;
    color: white;
    font-weight: 600;
    background-color: #303030;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Inter';
    padding: 10px 10px 10px 10px;
    margin-bottom: 15px;
}
footer ul {
    font-size: 25px;
    font-family: 'Inter';
    list-style: none;
    margin: 0px;
    padding: 0px;
}
footer ul li a:hover{
    color: #CCCCCC;;
}
footer ul li {
    font-weight: 400;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: 'Inter';
    margin: 20px 0px 20px 0px;

}

footer ul li a {
    color: white;
    text-decoration: none;
}
footer .endereco {
    font-weight: 600;
    font-size: 18px;
    font-family: 'Inter';
    color: white;
    text-align: center;
    width: 26%;
}
footer .linha2 {
    height: 35px;
    display: flex;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}
footer .linha2 a:first-child {
    border-right:3px solid white;
}
footer .linha2 a {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Inter';
    text-decoration: none;
    color: white;
    padding: 5px;
    
    
}
footer .linha2 a:hover{
    color: #CCCCCC;
}


@media only screen and (max-width: 600px) {

      /* Menu */

    #principal{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    #menu {
        flex-direction: column;
        width: 100%;
        margin: 0px;
    }
    #menu a {
        align-items: center;
        height: 50px;
    }
    #principal button {
        width: 100%;
        margin-right: 0;
    }

    /* Section */

    section h1 {
        font-size: 38px;

    }
    section h2 {
        font-size: 28px;
        padding-right: 15px;
        padding-left: 15px;
    }
    form {
        font-size: 20px;
        width: 95%;
    }
    .checkboxItens label {
        font-size: 17px;

    }
}