.container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

    background: #303030;
}
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu li {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-left: 20px;
}